[Unit]
After=network-online.target
StartLimitIntervalSec=0
[Service]
User=otelcol
Group=otelcol
Restart=always
RestartSec=5
WorkingDirectory=/home/otelcol
ExecStart=
ExecStart=/usr/bin/otelcol-contrib --config=/home/otelcol/otel-config.yaml --config=/home/otelcol/otel-config-override.yaml
